PORT=8025
DATABASE_URL=mysql+aiomysql://user:pass@localhost:3306/worldcup2026
JWT_SECRET=mysecret
JWT_ALGORITHM=algo
JWT_ACCESS_EXPIRE_MINUTES=30
JWT_REFRESH_EXPIRE_MINUTES=10080  # 7 days
TIMEZONE="Asia/Kathmandu"
LIVE_MATH_UPDATE_INTERVAL_MIN=1
MATCH_LOCK_CHECK_INTERVAL_MIN=5
REMINDER_CHECK_INTERVAL_MIN=30
MATCH_DAY_UPDATE_INTERVAL_HR=4
TODAYS_MATCH_REMINDER_TIME_HR=10
EMAIL_VERIFICATION_EXPIRE_MINUTES=10
PASSWORD_RESET_EXPIRE_MINUTES=3
ADMIN_EMAIL=admin@email.com
EMAIL_FROM=fromemail@company.com
EMAIL_PASS=emailpass
EMAIL_SMTP=smtp.email.com
EMAIL_PORT=587
SITE_URL=http://localhost:8026/
API_BASE_PATH=/api/v1
CORS_ORIGINS=["http://localhost:8026", "https://football.predict.com"]
OPENAI_ENDPOINT=endpoint
OPENAI_DEPLOYMENT_NAME=deployment_name
OPENAI_KEY=api_key
