PORT=8025
DATABASE_URL=mysql+aiomysql://user:pass@localhost:3306/worldcup2026
JWT_SECRET=mysecret
JWT_ALGORITHM=algo
JWT_ACCESS_EXPIRE_MINUTES=30
JWT_REFRESH_EXPIRE_MINUTES=10080  # 7 days
EMAIL_FROM=fromemail@company.com
EMAIL_PASS=emailpass
EMAIL_SMTP=smtp.email.com
EMAIL_PORT=587
SITE_URL=http://localhost:8026/
API_BASE_PATH=/api/v1
CORS_ORIGINS=["http://localhost:8026", "https://football.predict.com"]