@import "tailwindcss";

/* Tell Tailwind v4 to use the .dark class for dark mode */
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #f7f8f5;
  --foreground: #18181b;
  --color-tournament-border: #2a374a;
  /* Tournament Theme Colors */
  /* USA */
  --color-tournament-primary: #1E293B;
  --color-tournament-primary-hover: #2f415d;
  --color-tournament-primary-light: #4a5c7b;
  --color-tournament-primary-faint: #7486a8;
  /* Mexico */
  --color-tournament-secondary: #15803D;
  --color-tournament-secondary-hover: #1fbd59;
  --color-tournament-secondary-light: #73c787;
  --color-tournament-secondary-faint: #b6e8c2;
  /* Canada */
  --color-tournament-accent: #ef4132;
  --color-tournament-accent-hover: #b41111;
  --color-tournament-accent-light: #ec8989;
  --color-tournament-accent-faint: #f69d9d;
}

/* Dark mode overrides */
.dark {
  --background: #0f1117;
  --foreground: #f4f4f5;
  --color-tournament-border: #9ea1b3;
  /* USA */
  --color-tournament-primary: #0a3161;
  --color-tournament-primary-hover: #26558e;
  --color-tournament-primary-light: #4a5c7b;
  --color-tournament-primary-faint: #7486a8;
  /* Mexico */
  --color-tournament-secondary: #006341;
  --color-tournament-secondary-hover: #059d68;
  --color-tournament-secondary-light: #73c787;
  --color-tournament-secondary-faint: #b6e8c2;
  /* Canada */
  --color-tournament-accent: #e82042;
  --color-tournament-accent-hover: #e74d67;
  --color-tournament-accent-light: #ec8989;
  --color-tournament-accent-faint: #f69d9d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html {
  background: var(--background);
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font: inherit;
}

.countdown-container {
  background-image: url('/images/logo-tournament.avif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.border-tournament {
  border-color: var(--color-tournament-border);
}

.bg-player {
  background: linear-gradient(to bottom, #721411, #d60303);
}

.bg-prediction {
  background-color: linear-gradient(to bottom, #721411, #d60303);
}

.bg-tournament-light {
  background-color: rgb(239, 235, 235)
}

.bg-grad-tournament-light {
  background: linear-gradient(135deg, rgb(239, 235, 235), var(--color-tournament-primary));
}

.dark .bg-grad-tournament-light {
  background: linear-gradient(135deg, var(--color-tournament-primary), rgb(239, 235, 235));
}


.hover\:bg-tournament-light:hover {
  background-color: var(--color-tournament-light-hover);
}

.border-tournament-light {
  border-color: var(--color-tournament-light);
}

/* Primary Colors */
.text-tournament-primary {
  color: var(--color-tournament-primary);
  font-weight: bold;
}

.text-tournament-primary-light {
  color: var(--color-tournament-primary-light);
  font-weight: bold;
}

.hover\:text-tournament-primary:hover {
  color: var(--color-tournament-primary-hover);
  font-weight: bold;
}

.bg-tournament-primary {
  background: var(--color-tournament-primary);
}

.bg-grad-tournament-primary {
  background: linear-gradient(135deg, var(--color-tournament-primary-light), var(--color-tournament-primary));
}

.bg-tournament-primary-light {
  background-color: var(--color-tournament-primary-light);
}

.bg-grad-tournament-primary-light {
  background: linear-gradient(135deg, var(--color-tournament-primary-faint), var(--color-tournament-primary-light));
}

.hover\:bg-tournament-primary:hover {
  background-color: var(--color-tournament-primary-hover);
}

.border-tournament-primary {
  border-color: var(--color-tournament-primary-light);
}

.focus\:border-tournament-primary:focus {
  border-color: var(--color-tournament-primary-hover);
}

/* Secondary colors */
.text-tournament-secondary {
  color: var(--color-tournament-secondary);
  font-weight: bold;
}

.hover\:text-tournament-secondary:hover {
  color: var(--color-tournament-secondary-hover);
  font-weight: bold;
}

.bg-tournament-secondary {
  background-color: var(--color-tournament-secondary);
}

.bg-grad-tournament-secondary {
  background: linear-gradient(135deg, var(--color-tournament-secondary-light), var(--color-tournament-secondary));
}

.bg-tournament-secondary-light {
  background-color: var(--color-tournament-secondary-light);
}

.bg-grad-tournament-secondary-light {
  background: linear-gradient(135deg, var(--color-tournament-secondary-faint), var(--color-tournament-secondary-light));
}

.hover\:bg-tournament-secondary:hover {
  background-color: var(--color-tournament-secondary-hover);
}

.border-tournament-secondary {
  border-color: var(--color-tournament-secondary-light);
}

/* Accent Colors */
.text-tournament-accent {
  color: var(--color-tournament-accent);
  font-weight: bold;
}

.hover\:text-tournament-accent:hover {
  color: var(--color-tournament-accent-hover);
  font-weight: bold;
}

.bg-tournament-accent {
  background-color: var(--color-tournament-accent);
}

.bg-grad-tournament-accent {
  background: linear-gradient(135deg, var(--color-tournament-accent-light), var(--color-tournament-accent));
}

.bg-tournament-accent-light {
  background-color: var(--color-tournament-accent-light);
}

.bg-grad-tournament-accent-light {
  background: linear-gradient(135deg, var(--color-tournament-accent-faint), var(--color-tournament-accent-light));
}

.hover\:bg-tournament-accent:hover {
  background-color: var(--color-tournament-accent-hover);
}

.border-tournament-accent {
  border-color: var(--color-tournament-accent-light);
}